/* SIDEBARS */
.left-sidebar {
  background-color: #a1b4a0;
  padding: 20px;
}

.right-sidebar {
  background-color: #a1b4a0;
  padding: 20px;
}

/* LEFT SIDEBAR */
#rules-h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.573);
}

#rules {
  padding: 10px;
  font-size: 18px;
}

ul li {
  padding: 10px;
}

/* RIGHT SIDEBAR */

/* choose game type */
#game-type-h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.573);
}

#game-type {
  padding: 5px;
  font-size: 18px;
  display: grid;
}

#game-form {
  display: grid;
  padding: 10px;
  gap: 10px;
}

select {
  height: 44px;
  font-size: 18px;
}

#choose-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0d2106;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#choose-btn:hover {
  background-color: #6ab929;
  border: 1px solid black;
}

/* PLAYERS */
#player-type {
  padding: 10px;
  display: grid;
}

#players-h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.573);
}

#message {
  font-size: 18px;
}

/* START GAME BUTTON */
.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
}

#start-game-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0d2106;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start-game-btn:hover {
  background-color: #6ab929;
  border: 1px solid black;
}

/* ACTIVE PLAYER HIGHLIGHT */
.active-player {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #6ab929;
}

/* ADJUST SCREEN FOR MOBILE DEVICE */
@media (max-width: 390px) {
  /* left-sidebar */
  .left-sidebar {
    padding: 10px;
    width: 100%;
  }

  /* right-sidebar */
  .right-sidebar {
    padding: 10px;
    width: 100%;
    max-height: 40vh;
    gap: 0;
    margin: 0;
  }

  select {
    height: 22px;
    font-size: 9px;
  }
}
