/* Center the winner message container */
#winner-msg-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hide the container by default */
}

/* Center the winner message content inside the container */
#winner-msg {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw; /* Adjust the size as per your requirement */
  height: 30vh; /* Adjust the size as per your requirement */
  background-color: rgb(191, 238, 191);
  font-size: 24px;
}

/* highlight the winner cells */
.winning-cell {
  background-color: yellow; /* You can choose any other styles to highlight the cells */
}
